/* 全局样式 */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* 导航栏样式 */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
  border: none;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav>li>a {
  color: #555;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  background-color: #f2f2f2;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #555;
}

/* 主要内容样式 */
.container {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
}

ul {
  margin-top: 0;
}

li {
  margin-bottom: 10px;
}

img {
  max-width: 50%;
  width: 200px;
  height: 200px;
  margin-left: 70px;
}

/* 底部信息样式 */
footer {
  background-color: #2E8B57;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff;
}

footer a:hover,
footer a:focus {
  color: #2E8B57;
}