/* 设置页面背景颜色 */
body {
  background-color: #F1F1F1;
}

/* 设置页面主标题的样式 */
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #2E8B57;
  margin-top: 50px;
}

/* 设置页面上的表单元素样式 */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* 设置页面上的按钮样式 */
button[type="submit"] {
  background-color: #2E8B57;
  border: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: #228B22;
}

/* 设置页面上的图片样式 */
img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border: 5px solid #FFFFFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* 设置页面上的页脚样式 */
footer {
  background-color: #2E8B57;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Learn more 按钮悬停时的样式 */
.btn-learn-more:hover {
  transform: scale(1.1);
  /* 按钮放大 10% */
  transition: transform 0.2s ease-in-out;
  /* 动画持续时间为 0.2 秒 */
}